<br>
<h1>Hey, <%= @user.name %></h1>
<h2>Edit your preferences here.</h2>
<br>
<%= form_for (@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  Which lines do you want notifications about?
  <% Line.all.each do |line| %>
    <%= line.line %>
    <%= check_box_tag '[line_ids][]', line.id, @user.lines.include?(line) %>
  <% end %>
  <br>
  Edit your phone number.
  <%= f.text_field :phone %>
  <br>
  <%= f.submit %>

<% end %>