<h1>Hey, <%= @user.name %></h1>
<h4>Edit your preferences here.</h4>

<div class="column-wrapper">
  <div class="column-2">
    <%= form_for (@user) do |f| %>
    <div class="field">
      <%= f.label :name %>
    </div>
    <div class="field-box">
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :username %>
    </div>
    <div class="field-box">
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :phone %>
    </div>
    <div class="field-box">
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="column-2">
    <div class="field">
      Which lines do you want notifications about?
    </div>
      <ul>
        <% Line.all.each do |line| %>
          <li>
            <%= check_box_tag '[line_ids][]', line.id, @user.lines.include?(line) %>
            <%= line.line %>
          </li>
        <% end %>
      </ul>
  </div>
      <%= f.submit %>
    <% end %>
</div>

<div class="clear"></div>
