Welcome!

<br>
<br>
Sign up

<!-- Add Facebook & Twitter Integration here. -->

<%= form_for (@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  <br>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <br>
  Which lines do you want to be notified about?
  <br>
<!--   iterate over all of the lines in the database and add a checkbox for each one -->
  <% @lines.each do |line| %>
    <%= line.line %>
    <%= check_box_tag '[line_ids][]', line.id, @user.lines.include?(line) %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
<br>
<br>
Or log in to edit your preferences.

<%= form_tag '/login' do %>
  <%= label_tag 'Username' %>
  <%= text_field_tag 'username' %>
  <br>
  <%= label_tag 'Password' %>
  <%= password_field_tag 'password' %>
  <br>
  <%= submit_tag 'Login' %>
<% end %>

<br>

<%= form_tag '/' do %>
  <%= submit_tag 'Get data' %>
<% end %>

<br>
Line conditions

<% @lines.each do |line| %>
  <p><%= line.line %>, <%= line.statuses[0]["condition"] %></p>
<% end %>
