<!DOCTYPE html>
<html>
<head>
  <title>SubwayAlert</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/ggc0wqx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-ipad.png"  />
</head>
<body>

<header>
  <div class="logo">
    <span id="big-circle"><%= link_to '?', root_path %></span>
    <div id="name"><%= link_to 'Subway Alert', root_path %></div>
  </div>
  <ul>
    <%== show_login_or_logout_link %>
    <li><%= link_to 'MTA Service Status', lines_path %></li>
  </ul>
</header>

<div class="clear"></div>

<%= yield %>

<footer>
  <p> Hand coded with love by Larry Buchanan. This app has no affiliation with the MTA. </p>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36884682-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
